<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.hy.board.repository.mapper.BoardMapper">
    <select id="selectOne" parameterType="int" resultType="Board">
        SELECT
            board_no
            ,title
            ,content
            ,author
            ,password
            ,created_dt
            ,updated_dt
            ,views
        FROM
            t_board
        WHERE
            board_no = #{boardNo}
    </select>

    <select id="selectAll" parameterType="String" resultType="Board">
        SELECT
            board_no
            ,title
            ,content
            ,author
            ,password
            ,created_dt
            ,updated_dt
            ,views
        FROM
            t_board
        WHERE
            title LIKE CONCAT('%',#{keyword},'%')
    </select>

    <insert id="insertOne" parameterType="BoardRequestDto">
        INSERT INTO t_board
            (
                title
                ,content
                ,author
                ,password
                ,views
            )
        VALUE
            (
                #{title}
                ,#{content}
                ,#{author}
                ,#{password}
                ,#{views}
            )
    </insert>

    <update id="updateOne" parameterType="BoardRequestDto">
        UPDATE t_board
        SET
            title = #{title}
            ,content = #{content}
            ,author = #{author}
            ,password = #{password}
        WHERE
            board_no = #{boardNo}
    </update>

    <delete id="deleteOne" parameterType="int">
        DELETE FROM t_board
        WHERE
            board_no = #{boardNo}
    </delete>
</mapper>