<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.hy.board.repository.mapper.BoardMapper">
    <select id="selectOne" parameterType="int" resultType="Board">
        /* BoardMapper.selectOne */
        SELECT
            board_no
            ,title
            ,content
            ,author
            ,password
            ,created_dt
            ,updated_dt
            ,views
        FROM
            t_board
        WHERE
            board_no = #{boardNo}
    </select>

    <select id="countAll" resultType="Integer">
        /* BoardMapper.countAll */
        SELECT
            COUNT(1)
        FROM
            t_board
    </select>

    <select id="selectAll" parameterType="String" resultType="Board">
        /* BoardMapper.selectAll */
        SELECT
            board_no
            ,title
            ,content
            ,author
            ,password
            ,created_dt
            ,updated_dt
            ,views
        FROM
            t_board
        <where>
            <if test="keyword != '' and keyword != null">
                <choose>
                    <when test="'title'.equals(type)"> AND title LIKE CONCAT('%',#{keyword},'%') </when>
                    <when test="'author'.equals(type)"> AND author LIKE CONCAT('%',#{keyword},'%') </when>
                </choose>
            </if>
        </where>
        ORDER BY board_no DESC
        LIMIT #{pageSize}
        OFFSET #{offset}
    </select>

    <insert id="insertOne" parameterType="BoardRequestDto">
        /* BoardMapper.insertOne */
        INSERT INTO t_board
            (
                title
                ,content
                ,author
                ,password
                ,views
            )
        VALUE
            (
                #{title}
                ,#{content}
                ,#{author}
                ,#{password}
                ,'0'
            )
    </insert>

    <update id="updateOne" parameterType="BoardRequestDto">
        /* BoardMapper.updateOne */
        UPDATE t_board
        SET
            title = #{title}
            ,content = #{content}
            ,author = #{author}
            ,password = #{password}
        WHERE
            board_no = #{boardNo}
    </update>

    <update id="updateView" parameterType="BoardRequestDto">
        /* BoardMapper.updateView */
        UPDATE t_board
        SET
            views = views + 1
        WHERE
            board_no = #{boardNo}
    </update>

    <delete id="deleteOne" parameterType="int">
        /* BoardMapper.deleteOne */
        DELETE FROM t_board
        WHERE
            board_no = #{boardNo}
    </delete>
</mapper>